:root {
  --linkedin-logo: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20data-supported-dps%3D%2224x24%22%20fill%3D%22currentColor%22%20class%3D%22mercado-match%22%20width%3D%2224%22%20height%3D%2224%22%20focusable%3D%22false%22%3E%0A%20%20%20%20%20%20%3Cpath%20d%3D%22M20.5%202h-17A1.5%201.5%200%20002%203.5v17A1.5%201.5%200%20003.5%2022h17a1.5%201.5%200%20001.5-1.5v-17A1.5%201.5%200%200020.5%202zM8%2019H5v-9h3zM6.5%208.25A1.75%201.75%200%20118.3%206.5a1.78%201.78%200%2001-1.8%201.75zM19%2019h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74%201.74%200%200013%2014.19a.66.66%200%20000%20.14V19h-3v-9h2.9v1.3a3.11%203.11%200%20012.7-1.4c1.55%200%203.36.86%203.36%203.66z%22%3E%3C%2Fpath%3E%0A%20%20%20%20%3C%2Fsvg%3E");
  --github-logo: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22currentColor%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M12.5.75C6.146.75%201%205.896%201%2012.25c0%205.089%203.292%209.387%207.863%2010.91.575.101.79-.244.79-.546%200-.273-.014-1.178-.014-2.142-2.889.532-3.636-.704-3.866-1.35-.13-.331-.69-1.352-1.18-1.625-.402-.216-.977-.748-.014-.762.906-.014%201.553.834%201.769%201.179%201.035%201.74%202.688%201.25%203.349.948.1-.747.402-1.25.733-1.538-2.559-.287-5.232-1.279-5.232-5.678%200-1.25.445-2.285%201.178-3.09-.115-.288-.517-1.467.115-3.048%200%200%20.963-.302%203.163%201.179.92-.259%201.897-.388%202.875-.388.977%200%201.955.13%202.875.388%202.2-1.495%203.162-1.179%203.162-1.179.633%201.581.23%202.76.115%203.048.733.805%201.179%201.825%201.179%203.09%200%204.413-2.688%205.39-5.247%205.678.417.36.776%201.05.776%202.128%200%201.538-.014%202.774-.014%203.162%200%20.302.216.662.79.547C20.709%2021.637%2024%2017.324%2024%2012.25%2024%205.896%2018.854.75%2012.5.75Z%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E");
  --twitter-logo: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22currentColor%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%3Cg%3E%3Cpath%20d%3D%22M18.244%202.25h3.308l-7.227%208.26%208.502%2011.24H16.17l-5.214-6.817L4.99%2021.75H1.68l7.73-8.835L1.254%202.25H8.08l4.713%206.231zm-1.161%2017.52h1.833L7.084%204.126H5.117z%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  --folder-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M20 6h-8l-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2z'/%3E%3C/svg%3E");
  --open-folder-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='100' height='100' viewBox='0 0 48 48'%3E%3Cpath fill='%23000' d='M 8.5 8 C 6.0324991 8 4 10.032499 4 12.5 L 4 36.40625 L 4.015625 36.40625 C 3.9865145 38.276932 5.5083888 40 7.5019531 40 L 36.546875 40 C 38.416875 40 40.10278 38.832994 40.759766 37.082031 L 45.767578 23.75 L 45.767578 23.746094 C 46.62354 21.501657 44.900814 19 42.498047 19 L 42 19 L 42 17.5 C 42 15.032499 39.967501 13 37.5 13 L 24.042969 13 L 19.574219 9.2753906 A 1.50015 1.50015 0 0 0 19.572266 9.2753906 C 18.584102 8.4521105 17.339162 8 16.052734 8 L 8.5 8 z M 8.5 11 L 16.052734 11 C 16.638307 11 17.202555 11.205358 17.652344 11.580078 L 22.539062 15.652344 A 1.50015 1.50015 0 0 0 23.5 16 L 37.5 16 C 38.346499 16 39 16.653501 39 17.5 L 39 19 L 13.453125 19 C 11.583125 19 9.8972196 20.167006 9.2402344 21.917969 L 7 27.882812 L 7 12.5 C 7 11.653501 7.6535009 11 8.5 11 z'/%3E%3Cpath fill='%23000' d='M 13.453125 22 L 42.498047 22 C 42.897907 22 43.107444 22.305152 42.964844 22.677734 A 1.50015 1.50015 0 0 0 42.960938 22.6875 L 37.951172 36.027344 C 37.730157 36.616381 37.176875 37 36.546875 37 L 7.5019531 37 C 7.1042373 37 6.8935735 36.697099 7.0332031 36.326172 A 1.50015 1.50015 0 0 0 7.0351562 36.324219 L 12.048828 22.972656 C 12.269843 22.383619 12.823125 22 13.453125 22 z'/%3E%3C/svg%3E");
}

@media (prefers-color-scheme: dark) {
  :root {
    --linkedin-logo: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20data-supported-dps%3D%2224x24%22%20fill%3D%22%23fff%22%20class%3D%22mercado-match%22%20width%3D%2224%22%20height%3D%2224%22%20focusable%3D%22false%22%3E%0A%20%20%20%20%20%20%3Cpath%20d%3D%22M20.5%202h-17A1.5%201.5%200%20002%203.5v17A1.5%201.5%200%20003.5%2022h17a1.5%201.5%200%20001.5-1.5v-17A1.5%201.5%200%200020.5%202zM8%2019H5v-9h3zM6.5%208.25A1.75%201.75%200%20118.3%206.5a1.78%201.78%200%2001-1.8%201.75zM19%2019h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74%201.74%200%200013%2014.19a.66.66%200%20000%20.14V19h-3v-9h2.9v1.3a3.11%203.11%200%20012.7-1.4c1.55%200%203.36.86%203.36%203.66z%22%3E%3C%2Fpath%3E%0A%20%20%20%20%3C%2Fsvg%3E");
    --github-logo: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%23FFF%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M12.5.75C6.146.75%201%205.896%201%2012.25c0%205.089%203.292%209.387%207.863%2010.91.575.101.79-.244.79-.546%200-.273-.014-1.178-.014-2.142-2.889.532-3.636-.704-3.866-1.35-.13-.331-.69-1.352-1.18-1.625-.402-.216-.977-.748-.014-.762.906-.014%201.553.834%201.769%201.179%201.035%201.74%202.688%201.25%203.349.948.1-.747.402-1.25.733-1.538-2.559-.287-5.232-1.279-5.232-5.678%200-1.25.445-2.285%201.178-3.09-.115-.288-.517-1.467.115-3.048%200%200%20.963-.302%203.163%201.179.92-.259%201.897-.388%202.875-.388.977%200%201.955.13%202.875.388%202.2-1.495%203.162-1.179%203.162-1.179.633%201.581.23%202.76.115%203.048.733.805%201.179%201.825%201.179%203.09%200%204.413-2.688%205.39-5.247%205.678.417.36.776%201.05.776%202.128%200%201.538-.014%202.774-.014%203.162%200%20.302.216.662.79.547C20.709%2021.637%2024%2017.324%2024%2012.25%2024%205.896%2018.854.75%2012.5.75Z%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E");
    --twitter-logo: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%23FFF%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%3Cg%3E%3Cpath%20d%3D%22M18.244%202.25h3.308l-7.227%208.26%208.502%2011.24H16.17l-5.214-6.817L4.99%2021.75H1.68l7.73-8.835L1.254%202.25H8.08l4.713%206.231zm-1.161%2017.52h1.833L7.084%204.126H5.117z%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    --folder-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFF' viewBox='0 0 24 24'%3E%3Cpath d='M20 6h-8l-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2z'/%3E%3C/svg%3E");
    --open-folder-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='100' height='100' viewBox='0 0 48 48'%3E%3Cpath fill='%23FFF' d='M 8.5 8 C 6.0324991 8 4 10.032499 4 12.5 L 4 36.40625 L 4.015625 36.40625 C 3.9865145 38.276932 5.5083888 40 7.5019531 40 L 36.546875 40 C 38.416875 40 40.10278 38.832994 40.759766 37.082031 L 45.767578 23.75 L 45.767578 23.746094 C 46.62354 21.501657 44.900814 19 42.498047 19 L 42 19 L 42 17.5 C 42 15.032499 39.967501 13 37.5 13 L 24.042969 13 L 19.574219 9.2753906 A 1.50015 1.50015 0 0 0 19.572266 9.2753906 C 18.584102 8.4521105 17.339162 8 16.052734 8 L 8.5 8 z M 8.5 11 L 16.052734 11 C 16.638307 11 17.202555 11.205358 17.652344 11.580078 L 22.539062 15.652344 A 1.50015 1.50015 0 0 0 23.5 16 L 37.5 16 C 38.346499 16 39 16.653501 39 17.5 L 39 19 L 13.453125 19 C 11.583125 19 9.8972196 20.167006 9.2402344 21.917969 L 7 27.882812 L 7 12.5 C 7 11.653501 7.6535009 11 8.5 11 z'/%3E%3Cpath fill='%23FFF' d='M 13.453125 22 L 42.498047 22 C 42.897907 22 43.107444 22.305152 42.964844 22.677734 A 1.50015 1.50015 0 0 0 42.960938 22.6875 L 37.951172 36.027344 C 37.730157 36.616381 37.176875 37 36.546875 37 L 7.5019531 37 C 7.1042373 37 6.8935735 36.697099 7.0332031 36.326172 A 1.50015 1.50015 0 0 0 7.0351562 36.324219 L 12.048828 22.972656 C 12.269843 22.383619 12.823125 22 13.453125 22 z'/%3E%3C/svg%3E");
  }
}

body {
  max-width: none;
  margin: 0;
  box-sizing: revert;
  padding: 0;
  overflow: hidden;
}

.header {
  margin-bottom: calc(var(--line-height) * 2);
  top: 0;
}

.header h1 {
  margin: 0;
}

.header tr td:last-child {
  text-align: right;
}

.header tr td:first-child {
  border-left: none;
}

.header th:first-child {
  border-left: none;
}

.nested {
  display: none;
  margin-left: 20px;
}

.incremental {
  /* Initially hide the 'projects' list */
  display: none;
}

.tree>li:hover>.incremental {
  /* Show 'projects' when hovering over /home/ilia */
  display: block;
}

.incremental li:hover>.nested {
  display: block;
}

/* Optional styling for the /home/ilia part */
.tree>li>p {
  cursor: default;
}

/* Optional: Style the top-level list item to indicate that it contains nested items */
.tree>li {
  position: relative;
}

/* Optional: Style the top-level list item to look like a folder */
.tree>li>p {
  display: inline-block;
  padding-left: 20px;
  background-image: var(--folder-icon);
  /* Replace with your folder icon */
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 16px 16px;
}

.tree>li>p:hover {
  background-image: var(--open-folder-icon);
}

.tree>li>p strong {
  font-weight: normal;
}

.sidebar {
  width: 25ch;
  /* Adjust as needed */
  overflow-y: auto;
  /* Add scroll if content overflows */
  padding-right: var(--line-height);
  /* Add spacing to the right */
  /* Double border separator */
}

.main-content {
  flex: 1;
  border-left: calc(var(--border-thickness) * 2) solid var(--text-color);
  /* Allow main content to take remaining space */
}

.container {
  display: flex;
  /* Use flexbox for layout */
  height: 100vh;
  /* Set a height for the container */
  column-gap: 10px;
  padding-top: 3pt;
  padding-left: 3pt;
  padding-right: 3pt;
}

.container > * {
  border-left: solid var(--text-color);
  border-right: solid var(--text-color);
  border-top: solid var(--text-color);
  border-bottom: solid var(--text-color);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  width: 75%;
  flex: 1 0 auto;
}

aside {
  padding-left: 1%;
  padding-top: 3pt;
  margin-left: 0;
  width: 25%;
  flex: 0 0 1;
}

/* Styles for the tree within the sidebar */
.sidebar .tree {
  font-size: large;
  /* Adjust font size for the tree */
}

/* Ensure the folder structure is contained within the sidebar */
.sidebar .tree ul {
  padding-left: 0;
  margin: 0;
}

.sidebar .tree li {
  padding-left: 1.5ch;
  margin-left: 1.5ch;
}

.sidebar .tree li:before {
  left: 0;
}

.sidebar .tree li:last-child:after {
  left: 0;
}

.sidebar .tree>li {
  padding-left: 0;
  margin-left: 0;
  border-left: none;
}

.sidebar .tree>li::after {
  right: 0;
}

.sidebar .tree>li>p {
  padding-left: 20px;
}

.main-content {
  margin-top: 0;
  /* Add some left padding */
  margin-right: 0;
  display: flex;
  flex-direction: column;
}

#info-header {
  width: 100%;
  border-right: none;
  border-top: none;
  margin: 0 0 0 0;
}

main-content.header {
  width: 100%;
  /* Make the header span the full width of the main content */
  margin-bottom: var(--line-height);
  /* Add some spacing below the header */
  border-left: none;
}

.main-content.header h1 {
  margin: 0;
  /* Reset margins for the h1 within the header */
}

.main-content.header td {
  padding: 0.5ch;
  /* Add padding to table cells for better spacing */
  vertical-align: middle;
  /* Vertically center content in table cells */
}

.main-content.header th {
  text-align: left;
  /* Align table headers to the left */
}

.onexdev {
  text-transform: none;
}

.linkedin {
  background-image: var(--linkedin-logo);
  background-size: 19px 19px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 25px;
}

.github {
  background-image: var(--github-logo);
  background-size: 19px 19px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 25px;
}

.twitter {
  background-image: var(--twitter-logo);
  background-size: 19px 19px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 25px;
}

.text {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

iframe {
    display:block;
    width:100%;
    height: 100%;
    border: none;
}